.text {
    width: 50%;
    border:3px solid grey;
    margin: 20px auto;
    text-align: left;
    padding-left: 10px;
    background: lightgoldenrodyellow;
    
}
.List {
    text-align: center;
}
.send {
    margin-left: 10px;
    width: 57px;
    height: 34px;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-radius: 5%;
}
.enter {
    width: 40%;
    height: 30px;
}
.send:hover {
    background: greenyellow;
}
.enter:hover {
    background: greenyellow;
}
